{
  "extends": [
    "@nonsensebb/eslint-config-preact"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "shared-node-browser": true
  },
  "ignorePatterns": [
    "dist/"
  ],
  "rules": {
    "import/named": "off",
    "import/namespace": "off",
    "import/no-deprecated": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "import/resolver": {
      "jsconfig": {
        "config": "jsconfig.json"
      }
    },
    "settings": {
      "import/core-modules": [ "react", "react-dom" ]
    }
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "impliedStrict": true,
      "jsx": true
    },
    "requireConfigFile": false,
    "babelOptions": {
      "plugins": [
        "@babel/plugin-syntax-class-properties",
        "@babel/plugin-syntax-jsx"
      ]
    }
  },
  "overrides": [
    {
      "extends": [
        "@nonsensebb/eslint-config-preact",
        "plugin:astro/recommended"
      ],
      "files": [
        "*.astro"
      ],
      "parser": "astro-eslint-parser"
    }
  ]
}
