---
import { getCollection, type CollectionEntry } from 'astro:content'

import BlogHeader from '../../js/components/organism/BlogHeader'
import Layout from '../../layouts/default.astro'

export async function getStaticPaths() {
  const blogEntries = await getCollection('posts')

  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }))
}

export type Props = {
  entry: CollectionEntry<"posts">
}

const entry: CollectionEntry<"posts"> = Astro.props.entry
const { Content } = await entry.render()
---
<Layout title={entry.data.title}>
  <style is:global>
    @import "../../css/06_utils/markdown.scss";
  </style>

  <BlogHeader />

  <div class="markdown-content">
    <Content />
  </div>
</Layout>
