@import "../00_base/variables";

$cornerSize: 0.5em;

.o-contact-form {
  &__group {
    border: none;
    border-bottom: 1px solid $colorSquareBorder;
  }

  &__error {
    color: $colorFormInvalid;
  }

  &__success {
    color: $colorFormSuccess;
  }

  &__label {
    display: block;
    font-weight: bold;
    line-height: 2.4em;
  }

  &__entry {
    background: $colorFormEntryBg;
    border: 0;
    border-bottom: 2px solid $colorFormEntryBorder;
    box-shadow: none;
    color: $colorFormEntryColor;
    display: block;
    line-height: 1.3em;
    outline: none;
    padding: 0.5em;
    width: 100%;

    &--touched:invalid {
      border-color: $colorFormInvalid;
    }
  }

  &__textarea {
    min-height: 8em;
    resize: vertical;
  }

  &__footer {
    margin: 0.8em 0;
    text-align: right;
  }

  &__button {
    background: $colorFormButtonBg;
    border: none;
    color: $colorFormButton;
    cursor: pointer;
    display: inline-block;
    line-height: 2.3em;
    padding: 0 ($cornerSize + 0.3em);
    position: relative;
    text-decoration: none;
    transition-duration: ($transitionDuration/4);
    transition-property: background-color, color;

    &:hover,
    &:active,
    &:focus {
      background: $colorFormButtonHoverBg;
      color: $colorFormButtonHover;
    }

    &:disabled {
      &,
      &:hover,
      &:active,
      &:focus {
        background: $colorFormButtonDisabledBg;
        color: $colorFormButtonDisabled;
        cursor: not-allowed;
        pointer-events: none;
      }
    }
  }

  @media (min-width: $tabletBreakpoint) {
    &__group {
      display: grid;
      grid-gap: 0.5em 0.7em;
      grid-template-columns: min-content 1fr;
    }

    &__label {
      text-align: right;
    }

    &__footer {
      align-items: center;
      display: flex;
      justify-content: flex-end;
    }
  }
}
