@import "../00_base/variables";

.a-menu-link {
  display: inline-block;
  padding: 0.8em;
  text-decoration: none;
  text-transform: lowercase;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus {
    background: fade($color1, 25%);
  }

  &--active {
    text-decoration: underline;
    text-decoration-color: var(--dominantColorLight, #{$dominantColorLight});
  }

  @media (min-width: $desktopBreakpoint) {
    padding: 0.8em 1em;
  }
}
