@import "../00_base/variables";

.markdown-content {
  .astro-code {
    padding: 0.8em 1em;
    border: 1px solid $borderColor;
    border-left-width: 0.5em;
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 0.3em 1em;
    border: 1px solid $borderColor;
    border-left-width: 0.5em;
  }
}
