@import "../00_base/variables";

.m-site-navigation {
  background: $colorHeaderNavigationBg;
  color: $colorTextDarkBg;
  font-family: $fontRobotoCondensed;

  a {
    &,
    &:visited {
      background: transparent;
      color: $colorTextDarkBg;
      transition: ($transitionDuration/2) background-color;
    }

    &:hover,
    &:focus {
      background: mix($dominantColor, $colorHeaderNavigationBg, 20%);
      color: lighten($colorTextDarkBg, 10%);
    }

    &:active {
      background: $dominantColor;
      color: lighten($colorTextDarkBg, 10%);
    }
  }
}
