@use "sass:color";

@import "src/css/00_base/variables";

.m-site-navigation {
  background: $colorHeaderNavigationBg;
  color: $colorTextDarkBg;
  font-family: $fontRobotoCondensed;

  & > :first-child {
    padding-left: 1em;
  }

  & > :last-child {
    padding-right: 1em;
  }

  a {
    &,
    &:visited {
      background: transparent;
      color: $colorTextDarkBg;
      transition: ($transitionDuration * 0.5) background-color;
    }

    &:hover,
    &:focus {
      background: color.mix($dominantColor, $colorHeaderNavigationBg, 20%);
      color: color.scale($colorTextDarkBg, $lightness: 10%);
    }

    &:active {
      background: $dominantColor;
      color: color.scale($colorTextDarkBg, $lightness: 10%);
    }
  }

  &::before,
  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2em;
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, $colorHeaderNavigationBg, transparent);
  }

  &::after {
    right: 0;
    background: linear-gradient(to right, transparent, $colorHeaderNavigationBg);
  }
}
