@use "sass:color";

@use "../../../../css/00_base/variables" as v;

.m-site-navigation {
  background: v.$colorHeaderNavigationBg;
  color: v.$colorTextDarkBg;
  font-family: v.$fontRobotoCondensed;

  & > :first-child {
    padding-left: 1em;
  }

  & > :last-child {
    padding-right: 1em;
  }

  a {
    &,
    &:visited {
      background: transparent;
      color: v.$colorTextDarkBg;
      transition: (v.$transitionDuration * 0.5) background-color;
    }

    &:hover,
    &:focus {
      background: color.mix(v.$dominantColor, v.$colorHeaderNavigationBg, 20%);
      color: color.scale(v.$colorTextDarkBg, $lightness: 10%);
    }

    &:active {
      background: v.$dominantColor;
      color: color.scale(v.$colorTextDarkBg, $lightness: 10%);
    }
  }

  &::before,
  &::after {
    bottom: 0;
    content: ' ';
    position: absolute;
    top: 0;
    width: 2em;
  }

  &::before {
    background: linear-gradient(to right, v.$colorHeaderNavigationBg, transparent);
    left: 0;
  }

  &::after {
    background: linear-gradient(to right, transparent, v.$colorHeaderNavigationBg);
    right: 0;
  }
}
