@import "variables";

@mixin clearfix($before: false) {
  @if $before == true {
    &::before {
      clear: both;
      content: "";
      display: table;
    }
  }

  @else {
    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }
}

/* https://css-tricks.com/line-clampin/#the-standardized-way */
@mixin line-clamp($lines: 1) {
  -webkit-box-orient: vertical;
  display: box;
  -webkit-line-clamp: $lines;
}
