@use "sass:color";

/* Fallback colors */
$dominantColor: var(--dominant-color, currentColor);
$altDominantColor: var(--alt-dominant-color, var(--dominant-color, currentColor));
$altColor: var(--alt-color, #E8E8E8);
$bgColor: var(--bg-color, black);
$borderColor: var(--border-color, darkgray);
$spinnerColor: var(--spinner-color, var(--dominant-color, currentColor));
$spinnerAltColor: var(--spinner-alt-color, var(--alt-color, #E8E8E8));

/*  Breakpoints */
$tabletBreakpoint: 720px;
$desktopBreakpoint: 1280px;
$largeScreenBreakpoint: 1920px;

/*  Durations */
$loadingDuration: 2s;
$transitionDuration: 300ms;

/*  Color Palette */
$color1: #E8E8E8;
$color2: #555753;
$color3: #282828;
$color4: #224B85;
$color6: #DD3F2E;
$color7: #4A9521;

/*  Color Settings */
$dominantColor: $color4;
$dominantColorLight: color.scale($color4, $lightness: 45%);
$color1Light: #E8E8E8;

/*  Colors */
$colorBackground: $color3;
$colorText: $color1;
$colorLink: $color1;
$colorLinkHover: var(--dominantColorLight, #{$dominantColorLight});
$colorLinkActive: var(--dominantColor, #{$dominantColor});
$colorTextDarkBg: $color1;
$colorHeaderNavigationBg: $color2;
$colorBorderText: $color3;
$colorSiteTitle: $color1;

/* Forms */
$colorFormEntryColor: $color1;
$colorFormEntryBg: $color2;
$colorFormEntryBorder: $color1;
$colorFormInvalid: $color6;
$colorFormSuccess: $color7;
$colorFormButtonBg: var(--dominant-color, #{$dominantColor});
$colorFormButton: $color1;
$colorFormButtonHoverBg: var(--alt-dominant-color, #{$dominantColorLight});
$colorFormButtonHover: $color1;
$colorFormButtonDisabledBg: $color2;
$colorFormButtonDisabled: color.mix($colorFormButton, $colorFormButtonDisabledBg, 80%);

/*  Fonts */
$fontRobotoCondensed: 'Roboto Condensed', sans-serif;
$fontPlay: 'Play', 'Roboto Condensed', sans-serif;
