@use 'variables';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;

  @media (min-width: variables.$tabletBreakpoint) {
    overflow-x: hidden;
    width: 100vw;
  }
}

html,
body {
  background: variables.$colorBackground;
  color: variables.$colorText;
}

html,
body,
#__next {
  height: 100%;
}

a {
  color: variables.$colorLink;
  text-decoration: underline;
  transition-duration: (variables.$transitionDuration * 0.5);
  transition-property: opacity, color;

  &:hover,
  &:focus {
    color: variables.$colorLinkHover;
  }

  &:active {
    color: variables.$colorLinkActive;
  }
}

p {
  margin-bottom: 1.3em;
}

hr {
  border-color: var(--dominantColorLight, #{variables.$dominantColorLight});
  color: var(--dominantColorLight, #{variables.$dominantColorLight});
}

/*  Legacy styles */
strike {
  text-decoration: line-through;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

big {
  font-size: 1.2em;
}

small {
  font-size: 0.8em;
}
