@use "variables";
@use "reset";
@use "base";

:root {
  --dominantColor: #{variables.$dominantColor};
  --dominantColorLight: #{variables.$dominantColorLight};

  // Shared Components
  --dominant-color: #{variables.$dominantColor};
  --alt-dominant-color: #{variables.$dominantColorLight};
  --alt-color: #{variables.$color1Light};
  --bg-color: #{variables.$color3};
  --border-color: #{variables.$color2};
}
