---
import ContentWrapper from '../js/components/molecule/ContentWrapper'

import BaseLayout from "./default.astro"

const { frontmatter } = Astro.props
---
<BaseLayout title={frontmatter.title}>
  <h2>{frontmatter.title}</h2>

  <ContentWrapper>
    <slot />
  </ContentWrapper>
</BaseLayout>
